@import "tailwindcss";

@theme {
  /* Aquí definimos los colores de AI Graphics para la versión 4 */
  --color-print-cyan: #33d8f5;
  --color-print-magenta: #e64797;
  --color-print-yellow: #ffdd00;
  --color-print-dark: #1a1a1a;
}

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
}
